<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fleets</key>
	<dict>
		<key>5</key>
		<dict>
			<key>ambush</key>
			<false/>
			<key>cargo</key>
			<integer>0</integer>
			<key>moved</key>
			<false/>
			<key>number</key>
			<integer>5</integer>
			<key>player</key>
			<string>ZAPHOD</string>
			<key>ships</key>
			<integer>0</integer>
		</dict>
		<key>4</key>
		<dict>
			<key>moved</key>
			<false/>
			<key>ships</key>
			<integer>7</integer>
			<key>player</key>
			<string>ZAPHOD</string>
			<key>number</key>
			<integer>4</integer>
			<key>cargo</key>
			<integer>7</integer>
			<key>ambush</key>
			<false/>
		</dict>
		<key>1</key>
		<dict>
			<key>ambush</key>
			<false/>
			<key>cargo</key>
			<integer>0</integer>
			<key>moved</key>
			<false/>
			<key>number</key>
			<integer>1</integer>
			<key>player</key>
			<string>ZAPHOD</string>
			<key>ships</key>
			<integer>0</integer>
		</dict>
		<key>2</key>
		<dict>
			<key>ambush</key>
			<false/>
			<key>cargo</key>
			<integer>10</integer>
			<key>moved</key>
			<false/>
			<key>number</key>
			<integer>2</integer>
			<key>player</key>
			<string>ZAPHOD</string>
			<key>ships</key>
			<integer>1</integer>
		</dict>
		<key>3</key>
		<dict>
			<key>ambush</key>
			<false/>
			<key>cargo</key>
			<integer>5</integer>
			<key>moved</key>
			<false/>
			<key>number</key>
			<integer>3</integer>
			<key>player</key>
			<string>ZAPHOD</string>
			<key>ships</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>planets</key>
	<array>
		<dict>
			<key>dShips</key>
			<integer>0</integer>
			<key>player</key>
			<string>ZAPHOD</string>
			<key>fleets</key>
			<array>
				<integer>5</integer>
				<integer>4</integer>
			</array>
			<key>iShips</key>
			<integer>0</integer>
			<key>industry</key>
			<integer>0</integer>
			<key>limit</key>
			<integer>0</integer>
			<key>metal</key>
			<integer>0</integer>
			<key>mines</key>
			<integer>0</integer>
			<key>name</key>
			<string>W4</string>
			<key>number</key>
			<integer>4</integer>
			<key>pShips</key>
			<integer>0</integer>
			<key>population</key>
			<integer>0</integer>
			<key>round</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>dShips</key>
			<integer>1</integer>
			<key>player</key>
			<string>ZAPHOD</string>
			<key>fleets</key>
			<array>
				<integer>1</integer>
			</array>
			<key>iShips</key>
			<integer>0</integer>
			<key>industry</key>
			<integer>11</integer>
			<key>limit</key>
			<integer>13</integer>
			<key>metal</key>
			<integer>1</integer>
			<key>mines</key>
			<integer>0</integer>
			<key>name</key>
			<string>W1</string>
			<key>number</key>
			<integer>1</integer>
			<key>pShips</key>
			<integer>0</integer>
			<key>population</key>
			<integer>12</integer>
			<key>round</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>dShips</key>
			<integer>0</integer>
			<key>player</key>
			<string>ZAPHOD</string>
			<key>fleets</key>
			<array>
				<integer>2</integer>
			</array>
			<key>iShips</key>
			<integer>0</integer>
			<key>industry</key>
			<integer>21</integer>
			<key>limit</key>
			<integer>23</integer>
			<key>metal</key>
			<integer>0</integer>
			<key>mines</key>
			<integer>0</integer>
			<key>name</key>
			<string>W2</string>
			<key>number</key>
			<integer>2</integer>
			<key>pShips</key>
			<integer>0</integer>
			<key>population</key>
			<integer>22</integer>
			<key>round</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>dShips</key>
			<integer>0</integer>
			<key>player</key>
			<string>ZAPHOD</string>
			<key>fleets</key>
			<array>
				<integer>3</integer>
			</array>
			<key>iShips</key>
			<integer>0</integer>
			<key>industry</key>
			<integer>31</integer>
			<key>limit</key>
			<integer>33</integer>
			<key>metal</key>
			<integer>0</integer>
			<key>mines</key>
			<integer>0</integer>
			<key>name</key>
			<string>W3</string>
			<key>number</key>
			<integer>3</integer>
			<key>pShips</key>
			<integer>0</integer>
			<key>population</key>
			<integer>32</integer>
			<key>round</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>player</key>
	<dict>
		<key>ZAPHOD</key>
		<dict>
			<key>points</key>
			<integer>0</integer>
			<key>role</key>
			<string>NO Name</string>
		</dict>
	</dict>
	<key>ports</key>
	<dict>
		<key>4</key>
		<array>
			<integer>3</integer>
		</array>
		<key>1</key>
		<array>
			<integer>2</integer>
		</array>
		<key>2</key>
		<array>
			<integer>1</integer>
			<integer>3</integer>
		</array>
		<key>3</key>
		<array>
			<integer>4</integer>
			<integer>2</integer>
		</array>
	</dict>
</dict>
</plist>
