<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>distanceLevelHomes</key>
	<integer>6</integer>
	<key>fleetCount</key>
	<integer>200</integer>
	<key>fleetsOnHomePlanet</key>
	<integer>5</integer>
	<key>planetCount</key>
	<integer>200</integer>
	<key>playName</key>
	<string>GalaxySolutio</string>
	<key>playPath</key>
	<string>/Users/balu</string>
	<key>player</key>
	<array>
		<string>ZAPHOD</string>
		<string>Lul4n</string>
		<string>Oxyd</string>
		<string>coldsmith</string>
		<string>Beerbowl</string>
		<string>nimosalina</string>
		<string>ValaOSiris</string>
		<string>mirkomcfly</string>
		<string>joniitaan</string>
	</array>
	<key>startShipsCount</key>
	<integer>6</integer>
</dict>
</plist>
